
html {
  background-image: url('purple-background.jpg'); /*sets the background to the purple pic*/
  background-size: cover; /*makes sure pic covers entire page*/
}

header {
  margin-top: 10px; /*top margin of header*/
  padding-bottom: 1px; /*space between content and border*/
  padding-top:30px;
}

h1 { /*Julia Thurston*/
  color: black ;
  font-family: serif;
  font-size: 50px;
  text-align: center;
  line-height: 2px;
}

h2 { /*Software Developer*/
  color: black;
  text-align: center;
}

body { 
  margin: 20px
}

h3 { /*Intro, About Me, Contact*/
  color: black;
  font-family: serif;
  text-align: center;
}

.aboutme {
  text-align: left;
  color: black;
  font-family: sans-serif;
  text-align: left;
  
}

ol { /*other interests*/
  text-align: left;
  color: black;
  font-family: sans-serif;
  text-align: left;
}

p { 
  color: black;
  font-family: sans-serif;
  text-align: center;
}

img { /*pic of me*/
  width: 200px;
  border-radius: 80%;
}

hr { /*horizontal rule*/
  height: 1px;
  background-color: black;
  border: 0.5px solid black; 
  margin-top: 20px;
  margin-bottom: 20px;
}

a { /*links to LinkedIn, Github, email*/
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
  text-decoration: underline;
  color: black;
}


/*pseudolinks*/
a:link     {color: black;    }
a:visitied {color: saddlebrown;   }
a:hover    {color: gray;     }
a:active   {color: lightgray;}
